<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Edit</title>
</head>
<body>
    <h1>데이터 편집</h1>
    <form action = "/update/<%= user[0].id %>" method="POST">
        name <input type = "text" name="name" value="<%= user[0].name %"><br>
        email <input type = "text" name="email" value="<%= user[0].email %"><br>
        <button type ="submit">업데이트(편집)</button>  
    </form>
    <h2>깃허브에 재 업데이트용 코드 한줄!</h2>
</body>
</html>